// variables
$accordion-bg: $haccLight;
$accordion-sub-bg: $haccLight;
$accordion-separator: $haccGrey;


.filter-menu {
  *:focus{
    outline: none;
  }
  li a{
    font-size:0.8rem;
    text-transform: capitalize !important;
    height: 2rem;
    line-height: 0.3;
  }

  a:focus, a:hover{
    text-decoration: none;
  }
  // background for main accordion items
  .is-accordion-submenu-parent a {
    background: $accordion-bg;
  }

  // background for sub accordion items
  .is-accordion-submenu a {
    background: $accordion-sub-bg;
  }

  // creates classes for nested elements, sub-item-*
  @for $i from 1 through 6 {
    .sublevel-#{$i} {
      text-indent: 0rem + ($i/10);
    }
  }

  [data-accordion-menu] {
    a {
      color: $haccText;
      // sets accodion item separator color
      box-shadow: inset 0 -1px $accordion-separator;

      &::after {
        // sets accodion arrow color and direction
        border-color: $haccText transparent transparent;
      }
    }
  }

  // padding for each list item
  .menu > li:not(.menu-text) > a {
    padding: 1.2rem 1rem;
  }
  li > input{
    font-size: 0.8rem;
  }
}

